body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
u{
  font-size: 14pt;
}
main{
  margin-bottom: 20px;
  margin-top: 20px;
}
.button-custom{
  background-color: #BAD369 !important;
  color: white !important;
  /*border:1px solid #BAD369 !important;*/
}
.button-custom:hover{
  background-color: white!important;
  color: #BAD369 !important;
}
.top-container {
  background-color: #FFF;
  padding: 10px 25px;
  /*text-align: center;*/
}
.header {
  padding: 10px 50px;
  background: white !important;
  color: black;
  z-index: 9999;
}
nav .navbar-nav li a{
  color: white !important;
  }
/*nav .navbar-nav li a:hover{
  color: red;
  background-color: white !important;
  }*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.uuu{
  font-size: 10pt;
}
.carousel-inner img {
    width: 100%;
    height: 500px;
  }
.daftarlelang{
  padding: 10px 4% 10px 4%;
}

.modal-footer {
  background: #ecf0f1;
  color: #999;
}
.modal-footer a{
  /*background: #ecf0f1;*/
  color: #999;
}
hr.garismerah{
  max-width: 50%;
  border: 3px solid #BAD369;
  border-radius: 5px;
}
/*.carousel-item {
  height: 100vh;width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#cfdaftarlelang{
  padding: 0 3% 0 3%;
}

#colcontactus{
  color:#BAD369 !important;
  text-align: right;padding-top: 15px;
}
#acontactus{
  font-size:12pt;
  text-decoration: none;
}
#carouselGK{
  margin-bottom: 50px
}