    <footer class="main-footer">
      <div class="float-right d-none d-sm-inline">
        {{site.version}}
      </div>
      <strong>Copyright &copy; 2014-{{ site.time | date: '%Y' }} <a href="https://Adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
