
  <script src="{{ 'assets/plugins/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/js/Adminlte.min.js' | prepend: site.baseurl }}"></script>
